@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@font-face{
	font-family: "TROUBLE_FONT";
	src: url(/static/community/fonts/TROUBLE_FONT.TTF) format("truetype");
}
.title {
	color: #ffffff;
	font-size: 80px;
	font-family: "TROUBLE_FONT";
	margin: 0px;
}

#main-container {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin-top: calc(100vh - (100vh - 95px));
	padding: 60px;
	width: 100%;
}

#popular-container{
	box-sizing: border-box;
	background-color: darkred;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto;
	gap: 0px;
	height: 600px;
	margin-top: 50px;
	width: 100%;
}
.popular-content{
	height: 300px;
	position: relative;
	overflow: hidden;
	width: 100%;
}
.popular-content:hover .popular-info{
	opacity: 1;
}
.popular-img{
	height: 100%;
	object-fit: cover;
	object-position: right;
	width: 100%;
}
.popular-info{
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.9);
	height: 100%;
	left: 0;
	position: absolute;
	padding: 20px;
	opacity: 0;
	transition: opacity 0.3s ease;
	text-align: left;
	width: 100%;
}
.popular-info-title{
	color: #ffffff;
	display: block;
	font-family: "TROUBLE_FONT";
	font-size: 50px;
}
.popular-info-subtitle{
	color: #ffffff;
	display: block;
	font-family: "Roboto";
	font-size: 20px;	
	font-weight: 900;
	width: 50%;
}
.popular-info-desc{
	color: #ffffff;
	display: block;
	font-family: "Roboto";
	font-size: 15px;
	font-weight: 300;
	height: 100px;
	width: 70%;

}
.info-btn{
	color: #000000;
	background-color: #62ED2E;
	bottom: 20px;
	display: block;
	font-family: "TROUBLE_FONT";
	font-size: 20px;
	height: 30px;
	right: 20px;
	text-align: center;
	text-decoration: none;
	position: absolute;
	width: 120px;
	transition: color 0.3s ease;
}
.info-btn:hover{
	color: #62ED2E;
	background-color: rgba(0,0,0,0);
}
.line {
	border: 1px solid;
	border-color: #62ED2E;
	width: 100%; 
	margin-top: 50px;
	margin-bottom: 80px;
}
.communities-container{
	display: flex;
	flex-direction: row;
	height: 1115px;
	margin-top: 50px;
	width: 100%;
}
.communities-list{
	height: 100%;
	width: calc(100% - 235px);
}
/*search bar styles*/
.search-bar-container {
    position: relative;
    padding: 15px;
    width: 100%;
    z-index: 1000; /* Asegurar que está por encima de otros elementos */
}
.search-bar {
    background-color: #1e1e1e;
    border: 1px solid #62ED2E;
    color: #ffffff;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    padding: 10px 15px;
    width: 100%;
}
.search-results {
    background-color: #121212;
    border: 1px solid #62ED2E;
    max-height: 400px;
    overflow-y: auto;
    position: absolute;
    top: 60px; /* Ajusta según sea necesario */
    left: 0;
    width: 100%;
    z-index: 1001; /* Mayor que el contenedor para estar por encima */
    display: block !important; /* Forzar visualización */
}
.community-result-item {
    align-items: center;
    background-color: #1e1e1e;
    border-bottom: 1px solid #62ED2E;
    color: #ffffff;
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    padding: 12px 15px;
    transition: background-color 0.3s ease;
}
.community-result-item:hover {
    background-color: #282828;
}
.view-btn {
    background-color: #62ED2E;
    border: none;
    color: #000000;
    cursor: pointer;
    font-family: "TROUBLE_FONT", sans-serif;
    font-size: 16px;
    padding: 5px 15px;
}

/*communities list*/
.list{
	height: 1020px;
	padding-top: 30px;
	width: 100%;
}
.community-item{
	border-bottom: 1px solid #62ED2E;
	display: flex;
	flex-direction: row;
	height: 200px;
	margin-bottom: 20px;
	width: 100%;
	position: relative;
}
.community-item-img{
	flex-shrink: 0;
	width: 300px;
	height: 200px;
}
.community-item-img img{
	height: 100%;
	object-fit: cover;
	width: 100%;
}
.community-item-info{
	color: #ffffff;
	font-size: 20px;
	flex-grow: 1;
	padding: 20px;
	postition: absolute;
}
.community-item-name{
	display: block;
	font-size: 30px;
	font-family: "TROUBLE_FONT";
	margin-bottom: 20px;
	letter-spacing: 0.5px;
}
.community-item-desc{
	color: #C2C2C2;
	display: block;
	font-size: 15px;
	font-family: "Roboto";
	font-weight: 700;
	letter-spacing: 0.2px;
}
.join-btn{
	background-color: #62ED2E;
	bottom: 20px;
	color: #000000;
	font-size: 15px;
	font-family: "TROUBLE_FONT";
	height: 20px;
	position: absolute;
	right: 20px;
	text-align: center;
	text-decoration: none;
	transition: background-color 0.3s ease;
	transition: color 0.3s ease;
	width: 75px;
}
.join-btn:hover{
	background-color: #000000;
	color: #62ED2E; !important
}

.filters-list{
	height: 100%;
	width: calc(100% - (100% - 265px));
	background-color: purple;
}
.filter-category{
	font-size: 20px;
}
