@font-face{
    font-family: "trouble";
    src: url(/static/community/fonts/TROUBLE_FONT.TTF) format("truetype");
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

#main-container{
    margin-top: calc(100vh - (100vh - 95px));
    padding: 60px;
}
#form{
    padding: 30px;
}
.title{
    font-family: "trouble";
    color: #ffffff;
    font-size: 50px;
}
.labels{
    font-family: "roboto";
    font-size: 20px;
    color: #ffffff;
    letter-spacing: .5px;
    margin-bottom: 10px;
}
.image-input{
    width: auto;
    height: 30px;
    font-size: 15px;
    font-family: "roboto";
    color: #ffffff;
}
.text-input{
    height: 30px;
    width: 300px;
    font-size: 20px;
    border-radius: 20px;
    background-color: black;
    color: #ffffff;
    border-color: #62ED2E;
    padding: 10px;
}
.text-input::placeholder{
    color: darkgrey;
    font-size: 15px;
}
.selection-input{
    height: auto;
    font-size: 20px;
    width: auto;
}