@font-face {
    font-family: "TROUBLE_FONT";
    /* font-weight: normal;
    font-style: normal; */
    src: url("/static/polls/fonts/TROUBLE_FONT.TTF") format("truetype");
}

@font-face {
    font-family: "Roboto";
    /* font-weight: normal;
    font-style: normal; */
    src: url("/static/polls/fonts/Roboto-VariableFont_wdth,wght.TTF") format("truetype");
}

html {
    font-size: 5px;
}

a {
    text-decoration: none;
}

.custom-navbar {
    background-color: #000000 !important;
    padding-left: 5px;
    padding-right: 5px; /* Cambia el color a tu preferencia */
    height: 95px;
    width: 100%;
    position: absolute;
    z-index: 2000;
}
.navbar-border {
    height: 1px; /* Grosor de la línea */
    background-color: #62ED2E; /* Color de la línea */
    width: 100%;
}

.hero-container {
    position: relative; /* Cambiado de absolute a relative */
    width: 100%;
    min-height: 100vh; /* Hace que ocupe toda la pantalla sin cubrir lo siguiente */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.hero-back {
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.hero-back::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(
        rgba(0,0,0,0.5) 0%,
        rgba(0,0,0,1) 90%
    );
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: flex-start; /* Mantiene la imagen más a la izquierda */
}

.hero-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.logo {
    margin-right: 20px;
     /* Ajusta este valor para mover el logo más a la derecha */
}

.search-container {
    flex-grow: 1; /* Hace que el buscador ocupe el espacio disponible */
    display: flex;
    justify-content: center; /* Centra el buscador en su contenedor */
}

.search-box {
    width: 50%; /* Ajusta el ancho del buscador según sea necesario */
}

.nav-links {
    display: flex;
    gap: 20px; /* Espacio entre los elementos del menú */
}

body::after {
    content: ''; /* Crea el pseudo-elemento */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh; /* Ajusta para cubrir toda la pantalla */
    background-color: #000000;  /* Gradiente de negro a transparente */
    pointer-events: none; /* Evita que este pseudo-elemento bloquee interacciones como clics */
    z-index: -1;
    margin: 0;
    padding: 0;
  }
body {
    background-color: #000000;
    margin: 0;
    padding: 0;
}
.navbar {
    display: flex;
    align-items: center;
    padding: 10px 20px;

    position: fixed; /* Fija la barra en la parte superior */
    top: 0;
    left: 0;
    width: 100%;
    background-color: black; /* Mantiene el color negro */
    justify-content: space-between;
    border-bottom: 2px solid limegreen; /* Borde verde para destacar */
    z-index: 1000; /* Asegura que siempre esté sobre otros elementos */
  }
.custom-navbar .navbar-brand img {
    max-width: 100%;  /* Hace que el logo se ajuste automáticamente */
    height: auto;     /* Mantiene la proporción */
    width: 200px;     /* Tamaño base en pantallas grandes */
}

@media (max-width: 768px) { 
    .custom-navbar .navbar-brand img {
        width: 150px; /* Reducir en pantallas medianas */
    }
}

@media (max-width: 480px) { 
    .custom-navbar .navbar-brand img {
        width: 120px; /* Reducir más en pantallas pequeñas */
    }
}
.form-control {
    font-family: 'Roboto', sans-serif; /* Puedes cambiar 'Arial' por otra fuente */
    font-size: 16px;  /* Ajusta el tamaño de la letra */
    color: #333; /* Cambia el color del texto */
}
.form-control {
    width: 400px;  /* Tamaño normal */
    height: 40px;
}

@media (max-width: 768px) {  
    .form-control {
        width: 200px;  /* Más pequeño en tabletas */
        height: 35px;
    }
}

@media (max-width: 480px) {  
    .form-control {
        width: 100%;  /* Ocupa todo el ancho en móviles */
        height: 35px;
    }
}
.form-control {
    background-color: black; /* Fondo negro */
    color: white; /* Texto blanco */
    border: 2px solid #62ED2E; /* Borde blanco */
    border-radius: 20px; /* Bordes ligeramente redondeados */
}
.form-control:focus {
    border-color: #62ED2E; /* Cambia el borde a dorado al hacer clic */
    background-color: rgb(79, 79, 79);
    
}
.botton {
    height: 40px;
    width: 120px;
    color: #000000; /* Texto en blanco */
    border: 2px solid #62ED2E; /* Borde verde */
    border-radius: 20px; /* Bordes redondeados */
    background-color: #62ED2E; /* Fondo transparente */ /* Texto en negrita */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    font-size: 30px;
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    text-align: center;
    text-decoration: none;
}

.fonts{
    font-family: 'TROUBLE_FONT';
}

.tamaño{
    font-size: 20px;
    color: #ffffff;
    transition: color 0.3s ease; /* Transición suave al cambiar el color */

}

.tamaño:hover {
    color: #ffffff; /* Color cuando el mouse pasa por encima */
    text-decoration: underline #62ED2E;
    
}
.tamaño:focus{
    color: #ffffff !important; /* Color cuando el mouse pasa por encima */
    text-decoration: underline #62ED2E;
}
.nav-item{
    padding-left: 5px;
    padding-right: 5px;
}

.navbar-nav{
    margin-left: 10px;
    margin-right: 10px;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero-content {
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: flex-start; /* Mantiene la imagen más a la izquierda */
    height: 40.86vh;
    width: calc(100vw - 565px); /* Ajusta según el tamaño del contenedor */ /* Ajusta el margen izquierdo */
}

.hero-content-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


#hero-logo {
    stroke-width: 5px;
    stroke: #ffffff;
}

.contenedor1 {
    width: 100%;  /* Ajustar al ancho disponible */
    height: 80px;
    
    bottom: 0;
    justify-content: center; /* Centra horizontalmente el botón */
    align-items: center; /* Centra verticalmente el botón */
    position: relative;
    bottom: -54px;
    justify-content: center;
    display: flex;
}


.content {
    margin-top: 80px; /* Ajusta este valor según la altura de tu barra de navegación */
    padding: 20px;
}

.slider-container {
    position: relative;
    max-width: 600px; /* Ancho del slider */
    margin: auto;
    overflow: hidden;
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider img {
    width: 100%;
    border-radius: 10px;
}

.desingtext{
    font-size: 80px;
    font-family: 'TROUBLE_FONT';
    color:#ffffff
}

#hero-title {
    line-height: 80px;
    font-size: 65px;
    font-family: "TROUBLE_FONT";
    color: #ffffff;
}

#hero-subtitle {
    font-size: 35px;
    font-family: "TROUBLE_FONT";
    color: #ffffff;
}

@media screen and (min-width: 300px) and (max-width: 768px) { 
    #hero-title {
        font-size: 10px;
    }
}

.desingtext2{
    font-size: 50px;
    font-family: 'TROUBLE_FONT';
    color:#b1b1b1
}

.contenedor {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor_texto{
    font-size: 4vw;  /* Hace que el texto sea un porcentaje del ancho de la ventana */
    width: 100%;
    height: 139%;
    word-wrap: break-word;
    padding: 10px;
}



.boton_joy{
    height: 40px;
    width: 120px;
    color: #000000; /* Texto en blanco */
    border: 2px solid #62ED2E; /* Borde verde */
    border-radius: 20px; /* Bordes redondeados */
    background-color: #62ED2E !important; /* Fondo transparente */ /* Texto en negrita */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    font-size: 30px;
    display: flex;
    font-family: "TROUBLE_FONT";
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    text-align: center;
<<<<<<< HEAD
    z-index: 10;
}
=======
}

/* cosas de la navbar */

>>>>>>> 7257c3f6d54d7368454b68b052ef36940cb8565d

/* Carrusel */
.carousel-item img {
    height: 500px;
    object-fit: cover;

}
.carousel-caption {
    background: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 15px;
    bottom: 20px;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    text-align: left;
}
.carousel-caption img {
    width: 500px; /* Imagen más grande */
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
    
}
.caption-text {
    flex: 1;
}
.carousel-caption h2 {
    font-size: 26px;
    margin-bottom: 10px;
}
.btn {
    background: limegreen;
    color: black;
    padding: 12px 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    display: inline-block;
    margin-top: 10px;
}
    
/*Diseño de LATEST*/
@font-face {
    font-family: 'TROUBLE_FONT';
    src: url('TROUBLE_FONT.TTF'); /* Asegúrate de proporcionar la ruta correcta del archivo de fuente */
}

.carousel-control-prev-icon {
    
    background-image: none !important;
    padding: 25px; /* Aumenta el tamaño del área de la flecha */
    width: 50px; /* Ajusta el tamaño del ícono */
    height: 50px;
    color: #62ED2E;
}

.carousel-control-prev-icon::before,
.carousel-control-next-icon::before {
    content: "";
    display: block;
    width: 20px; /* Grosor de la flecha */
    height: 20px;
    border: solid #62ED2E; /* Color de la flecha */
    border-width: 0 5px 5px 0; /* Grosor y estilo de la flecha */
    transform: rotate(135deg);
}



.carousel-control-next-icon::before {
    transform: rotate(-45deg); /* Asegura que la flecha derecha apunte en la dirección correcta */

}

.carousel-caption { 
    background: rgba(0, 0, 0, 1);
    padding: 15px;
    border-radius: 10px;
    bottom: 15%;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Arial', sans-serif; /* Cambiar a Arial por defecto */
    z-index: 5;
}

.miniatura {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.caption-text {
    color: white;
    font-family: 'TROUBLE_FONT', sans-serif; /* Cambiar tipo de letra a TROUBLE_FONT */
}

.caption-text h2 {
    font-size: 40px; /* Tamaño del h2 */
    font-family: "TROUBLE_FONT";
}

.caption-text p {
    font-size: 18px; /* Tamaño del p */
    font-family: "Roboto";
}

.boton_juegos2{
    background-color: #62ED2E;
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
   
    display: block !important;  /* Asegura que se muestre */
    visibility: visible !important;
    position: relative; /* Evita que esté fuera de pantalla */
    z-index: 10; /* Asegura que esté por encima de otros elementos */
    left: 75%;
    
}

.boton_juegos2:hover {
    background-color: #000000;
    color: #62ED2E;
    border-color: #000000;
}



/*Diseño de more games*/
.grid{
    padding-top: 30px;
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 40px;
    }

/* more games section */
#more-container{
    background-color: #000000;
    
    
    
}

#more-title {
    font-family: "TROUBLE_FONT";   
    color: #ffffff;
    padding-left: 30px;

}

.contenedores {
    background-color: rgb(66, 65, 65);
    border-radius: 15px;
    width: 200px;
    height: 300px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

#imgdesing {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease-in-out;
}

.contenedores:hover {
    transform: scale(1.1); /* Aumenta el tamaño */
    background-color: rgba(66, 65, 65, 0.8);
}

.contenedores:hover #imgdesing {
    opacity: 0; /* Hace que la imagen se vea tenue y deje ver el fondo */
}

.boton_juegos {
    height: 40px;
    width: 120px;
    color: #000000; /* Texto en negro */
    border: 2px solid #62ED2E; /* Borde verde */
    border-radius: 20px;
    background-color: #62ED2E;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    font-family: "TROUBLE_FONT";
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    bottom: 15px;
    right: 10px;
    padding: 10px;

    opacity: 0; /* Oculta el botón */
    transition: opacity 0.3s ease-in-out;
}

/* Hace que el botón aparezca cuando el usuario pase el mouse */
.contenedores:hover .boton_juegos {
    opacity: 1;
}

.desingtext1{
    padding:15px;
    font-size: 20px;
    font-family: 'TROUBLE_FONT';
    color:#ffffff
}

.desingtext2{
    padding: 15px;
    font-size: 11px;
    font-family: 'TROUBLE_FONT';
    color:#ffffff;
    letter-spacing: 1px;
}

/*Diseño de 4 imagenes*/
.grid2 {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
    grid-gap: 40px;
}

.contenedores2 {
    background-color: rgb(66, 65, 65);
    border-radius: 15px;
    width: 500px;
    height: 250px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

/* Mantener las imágenes sin opacidad en los primeros tres contenedores */
#imgdesing2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Solo aplicar opacidad a la imagen del cuarto contenedor */
.imgdesing2-opaco {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3;  /* Ajusta la opacidad solo aquí */
}

/* Contenedor con texto */
.contenedor-texto {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

/* Capa de texto sobre la imagen */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.texto-destacado {
    font-size: 16px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.4;
    max-width: 90%;
    z-index: 2;
    font-family: "Roboto";
}

/* Botón alineado abajo a la derecha */
.boton_juegos3 {
    height: 40px;
    width: 100%;
    color: #000000;
    border: 2px solid #62ED2E;
    background-color: #62ED2E;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    bottom: 0%;
    transition: background-color 0.3s ease-in-out;
}

.boton_juegos3:hover {
    background-color: #4bc822;
    border-color: #4bc822;
}







/*Community*/
.community-section{
    position: relative;
}
.imgc{
    position: absolute;
    height: 50px;
    width: 50px;
}



/* about and community section  */
/* Sección Gaming (Community y About) */
.gaming-section {
    font-family: 'TROUBLE_FONT';
    background-color: #000;
    color: white;
    margin: 0;
    font-size: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60vh;
    color: white;
    text-align: left;
    padding: 4rem 2rem;
    overflow: hidden;
}

.titulo1{
    font-size: 25px;
}

.text-container {
    position: relative;
    z-index: 2;
    max-width: 500px;
}

.btn-custom {
    display: inline-block;
    background-color: #00ff00;
    color: black;
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    font-family: "TROUBLE_FONT", sans-serif;
    letter-spacing: 2px;
    
}

/* COMMUNITY Section */
.community {
    background: linear-gradient(to right, 
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0)), 
                url('../images/Community.jpg') center/cover no-repeat;
}

/* ABOUT US Section */
.about {
    background: linear-gradient(to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 1)), 
       
                url('../images/About.jpg') center/cover no-repeat;
}


.about .text-container {
    position: relative;
    z-index: 2;
    max-width: 50%;
    text-align: left;
    padding-left: 50px;
}

/* Footer */
.footer {
    background-color: #000000;
    padding: 30px 0;
    text-align: left;
}

.footer h5 {
    font-weight: bold;
    color: #ffffff;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.footer ul li a:hover {
    color: #00ff00;
}

.footer .text-right {
    background-color: #000;
    padding: 10px 0;
    color: white;
    text-align: right;
}

.footer h5 {
    font-weight: bold;
    color: #00ff00;
    font-size: 20px; /* Cambia el tamaño del texto */
    font-family: "TROUBLE_FONT", sans-serif; /* Usa la fuente personalizada */
    letter-spacing: 2px;
}

.footer p {
    font-size: 14px; /* Cambia el tamaño del párrafo */
    font-family: "TROUBLE_FONT", sans-serif; /* Usa la fuente personalizada */
}

.footer ul li a {
    font-size: 14px; /* Cambia el tamaño de los enlaces */
}

#imgdesing3 {
    height: 30px;
    width: 160px;
    margin: 5px;
}

.navbar-border2 {
    height: 1px; /* Grosor de la línea */
    background-color: #62ED2E; /* Color de la línea */
    width: 80%;
}

.footer ul li a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
    font-size: 14px; /* Mantén el tamaño del texto */
    display: flex;
    align-items: center;
}

.footer ul li a:hover {
    color: #00ff00;
}

a > .icon {
    width: 20px; /* Ajusta el tamaño de los íconos */
    height: 20px;
    margin-right: 8px;
    vertical-align: middle;
}

.footer p{
    letter-spacing: 2px;
    padding-right: 15px;
}

.footer .row {
    margin-left: 0;
    margin-right: 0;
}

.footer .col {
    padding-left: 10px;
    padding-right: 10px;
}

