@font-face {
    font-family: TROUBLE_FONT;
    src: url(../fonts/TROUBLE_FONT.TTF) format(truetype);
}

.signup-page{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.signup-front{
    position: relative;
    width: 100%;
    height: 100vh;
}

.signup-front img{
    width: 100.1%;
    height: 100%;
    top: 0%;
    right: 0%;
    object-fit: cover;
}

.signup-front::after{
    position: absolute;
    content: "";
    top: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    z-index: 1;
}

#signup-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

.signup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

#logo-container{
    width: 260px;
    height: auto;

}

#logo{
    width: 100%;
    height: 100%;
}

#title{
    font-family: "TROUBLE_FONT";
    font-size: 50px;
    text-align: center;
    color: #ffffff;
}
#text{
    font-family: "TROUBLE_FONT";
    font-size: 15px;
    text-align: center;
    color: #ffffff;
}
#form {
    width: 100%;
}

.form-control {
    height: 40px;
    width: 100%;
    border-radius: 20px;
    background-color: rgba(0,0,0,0);
}

.form-control:focus{
    border-color: #62ED2E;
    outline: none;
    box-shadow: none;
    background-color: rgba(0,0,0,0);
    color: #ffffff;
}

.form-control::placeholder{
    color: darkgray;
}

.signup {
    width: calc(100% - 310px);
}
#btn{
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    text-align: center;
    width: 182px;
    height: 39px;
    background-color: #62ED2E;
    color: black;
    font-family: "TROUBLE_FONT";
    font-size: 25px;
    border-radius: 30px;
    border-color: #62ED2E;
    margin: auto;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px black inset !important;
    -webkit-text-fill-color: white !important;
    transition: background-color 5000s ease-in-out 0s;
}
