@font-face {
    font-family: TROUBLE_FONT;
    src: url(../fonts/TROUBLE_FONT.TTF) format(truetype);
}

.signup-page{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.signup-front{
    position: relative;
    width: 100%;
    height: 100vh;
}

.signup-front img{
    width: 100%;
    height: 100%;
    top: 0%;
    right: 0%;
    object-fit: cover;
}

.signup-front::after{
    position: absolute;
    content: "";
    top: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    z-index: 1;
}

#signup-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

.signup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

#logo-container{
    width: 260px;
    height: auto;

}

#logo{
    width: 100%;
    height: 100%;
}

#title{
    font-family: "TROUBLE_FONT";
    font-size: 50px;
    text-align: center;
    color: #ffffff;
}
#text{
    font-family: "TROUBLE_FONT";
    font-size: 15px;
    text-align: center;
    color: #ffffff;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 55px;
}
.text-footer{
    color: #adadad;
    font-family: "TROUBLE_FONT";
}
#text-links{
    color: #62ED2E;
}
#form {
    width: 100%;
}

.form-control {
    height: 40px;
    width: 100%;
    border-radius: 20px;
    background-color: rgba(0,0,0,0);
}

.form-control:focus{
    border-color: #62ED2E;
    outline: none;
    box-shadow: none;
    background-color: rgba(0,0,0,0);
    color: #ffffff;
    
}

.form-control::placeholder{
    color: darkgray;
}

.signup {
    width: calc(100% - 310px);
}
#btn{
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    text-align: center;
    width: 182px;
    height: 39px;
    background-color: #62ED2E;
    color: black;
    font-family: "TROUBLE_FONT";
    font-size: 25px;
    border-radius: 30px;
    border-color: #62ED2E;
    margin: auto;
}
#btn-other{
    background-color:black;
    color:#ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 14;
    border-radius: 30px;
    border-color: #ffffff;
    width: 200px;
    height: 40px;
}
.social-login {
    display: flex;
    justify-content: center; /* Centrar los botones */
    gap: 10px; /* Espacio entre los botones */
}

.google, .facebook {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 50%;
    text-align: center;
    padding: 10px;
}