@font-face {
    font-family: "TROUBLE_FONT";
    /* font-weight: normal;
    font-style: normal; */
    src: url("/static/polls/fonts/TROUBLE_FONT.TTF") format("truetype");
}

html {
    font-size: 5px;
}

.custom-navbar {
    background-color: #000000 !important;
    padding-left: 5px;
    padding-right: 5px; /* Cambia el color a tu preferencia */
    height: 95px;
    width: 100%;
}
.navbar-border {
    height: 1px; /* Grosor de la línea */
    background-color: #62ED2E; /* Color de la línea */
    width: 100%;
}

.hero-container {
    position: relative;
    height: 100vh;
    width: 100%;
    top: 95px;
}

.hero-back {
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.hero-back::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(
        rgba(0,0,0,0.5) 0%,
        rgba(0,0,0,1) 90%
    );
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: flex-start; /* Mantiene la imagen más a la izquierda */
}

.hero-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo {
    margin-right: 20px;
     /* Ajusta este valor para mover el logo más a la derecha */
}

.search-container {
    flex-grow: 1; /* Hace que el buscador ocupe el espacio disponible */
    display: flex;
    justify-content: center; /* Centra el buscador en su contenedor */
}

.search-box {
    width: 50%; /* Ajusta el ancho del buscador según sea necesario */
}

.nav-links {
    display: flex;
    gap: 20px; /* Espacio entre los elementos del menú */
}

body::after {
    content: ''; /* Crea el pseudo-elemento */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Ajusta para cubrir toda la pantalla */
    background: linear-gradient(to top, black 0%, black 20%, transparent 100%);  /* Gradiente de negro a transparente */
    pointer-events: none; /* Evita que este pseudo-elemento bloquee interacciones como clics */
    z-index: -1;
    margin: 0;
    padding: 0;
  }
.navbar {
    display: flex;
    align-items: center;
    padding: 10px 20px;

    position: fixed; /* Fija la barra en la parte superior */
    top: 0;
    left: 0;
    width: 100%;
    background-color: black; /* Mantiene el color negro */
    justify-content: space-between;
    border-bottom: 2px solid limegreen; /* Borde verde para destacar */
    z-index: 1000; /* Asegura que siempre esté sobre otros elementos */
  }
.custom-navbar .navbar-brand img {
    max-width: 100%;  /* Hace que el logo se ajuste automáticamente */
    height: auto;     /* Mantiene la proporción */
    width: 200px;     /* Tamaño base en pantallas grandes */
}

@media (max-width: 768px) { 
    .custom-navbar .navbar-brand img {
        width: 150px; /* Reducir en pantallas medianas */
    }
}

@media (max-width: 480px) { 
    .custom-navbar .navbar-brand img {
        width: 120px; /* Reducir más en pantallas pequeñas */
    }
}
.form-control {
    font-family: 'Roboto', sans-serif; /* Puedes cambiar 'Arial' por otra fuente */
    font-size: 16px;  /* Ajusta el tamaño de la letra */
    color: #333; /* Cambia el color del texto */
}
.form-control {
    width: 400px;  /* Tamaño normal */
    height: 40px;
}

@media (max-width: 768px) {  
    .form-control {
        width: 200px;  /* Más pequeño en tabletas */
        height: 35px;
    }
}

@media (max-width: 480px) {  
    .form-control {
        width: 100%;  /* Ocupa todo el ancho en móviles */
        height: 35px;
    }
}
.form-control {
    background-color: black; /* Fondo negro */
    color: white; /* Texto blanco */
    border: 2px solid #62ED2E; /* Borde blanco */
    border-radius: 20px; /* Bordes ligeramente redondeados */
}
.form-control:focus {
    border-color: #62ED2E; /* Cambia el borde a dorado al hacer clic */
    background-color: rgb(79, 79, 79);
    
}
.botton {
    height: 40px;
    width: 120px;
    color: #000000; /* Texto en blanco */
    border: 2px solid #62ED2E; /* Borde verde */
    border-radius: 20px; /* Bordes redondeados */
    background-color: #62ED2E; /* Fondo transparente */ /* Texto en negrita */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    font-size: 30px;
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    text-align: center;
}

.fonts{
    font-family: 'TROUBLE_FONT';
}

.tamaño{
    font-size: 5rem;
    color: #ffffff;
    transition: color 0.3s ease; /* Transición suave al cambiar el color */

}

.tamaño:hover {
    color: #ffffff; /* Color cuando el mouse pasa por encima */
    text-decoration: underline #62ED2E;
    
}
.tamaño:focus{
    color: #ffffff !important; /* Color cuando el mouse pasa por encima */
    text-decoration: underline #62ED2E;
}
.nav-item{
    padding-left: 5px;
    padding-right: 5px;
}

.navbar-nav{
    margin-left: 10px;
    margin-right: 10px;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content {
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: flex-start; /* Mantiene la imagen más a la izquierda */
    height: 30.86vh;
    width: calc(100vw - 565px); /* Ajusta según el tamaño del contenedor */ /* Ajusta el margen izquierdo */
    position: absolute;
}

.hero-content-container {
    height: 30.86vh;
    width: calc(100vw - 565px);
}

#hero-logo {
    stroke-width: 5px;
    stroke: #ffffff;
}

.contenedor1{
    width: 100;
    height: 200px;
    background-color: rgb(0, 0, 0);
}

.content {
    margin-top: 80px; /* Ajusta este valor según la altura de tu barra de navegación */
    padding: 20px;
}

.slider-container {
    position: relative;
    max-width: 600px; /* Ancho del slider */
    margin: auto;
    overflow: hidden;
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider img {
    width: 100%;
    border-radius: 10px;
}

.desingtext{
    font-size: 80px;
    font-family: 'TROUBLE_FONT';
    color:#ffffff
}

#hero-title {
    line-height: 80px;
    font-size: 65px;
}

#hero-subtitle {
    font-size: 35px;
}


.desingtext2{
    font-size: 50px;
    font-family: 'TROUBLE_FONT';
    color:#b1b1b1
}

.contenedor {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor_texto{
    font-size: 4vw;  /* Hace que el texto sea un porcentaje del ancho de la ventana */
    width: 100%;
    height: auto;
    word-wrap: break-word;
    padding: 10px;
}

.contenedor_boton{
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: flex; /* Mantiene la imagen más a la izquierda */
    height: 100vh; /* Ajusta según el tamaño del contenedor */
    
}

.boton_joy{
    height: 40px;
    width: 120px;
    color: #000000; /* Texto en blanco */
    border: 2px solid #62ED2E; /* Borde verde */
    border-radius: 20px; /* Bordes redondeados */
    background-color: #62ED2E; /* Fondo transparente */ /* Texto en negrita */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    font-size: 30px;
    display: flex;
    font-family: "TROUBLE_FONT";
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    text-align: center;
}

/* cosas de la navbar */
.navbar_container {
    
}

/* Carrusel */
.carousel-item img {
    height: 500px;
    object-fit: cover;

}
.carousel-caption {
    background: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 15px;
    bottom: 20px;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    text-align: left;
}
.carousel-caption img {
    width: 500px; /* Imagen más grande */
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
    
}
.caption-text {
    flex: 1;
}
.carousel-caption h2 {
    font-size: 26px;
    margin-bottom: 10px;
}
.btn {
    background: limegreen;
    color: black;
    padding: 12px 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    display: inline-block;
    margin-top: 10px;
}
    