{% if request.user.is_authenticated %}
    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-danger fonts">LOG OUT</button>
    </form>
{% else %}
    <a href="{% url 'login' %}" class="btn btn-outline-success fonts">LOG IN</a>
{% endif %}



<h1>Communities</h1>
{% for community in  communities %}
    <a href={% url "community" community.community_id %}>{{ community.community_name }}</a>
    <form method="POST" action="{% url "join_community" community.community_id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-danger fonts">LOG OUT</button>
    </form>
{% endfor %}