{% extends 'master.html' %}
{% load static %}
{% block title %}New Community{% endblock title %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'community/css/new_community.css' %}">{% endblock extra_css%}

{% block content %}
    <div id="main-container">
        <h1 class="title">New community</h1>
        <div id="form">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div>
                    <label for="grid" class="labels">Select a grid image</label>
                    <input type="file" name="grid" class="image-input" required>
                </div><br>
                <div>
                    <label for="hero" class="labels">Select a hero image</label>
                    <input type="file" name="hero" class="image-input" required>
                </div><br>
                <div>
                    <label for="name" class="labels">Community name</label><br>
                    <input autocomplete="off" type="text" name="name" class="text-input" placeholder="name" required>
                </div><br>
                <div>
                    <label for="description" class="labels">Community description</label><br>
                    <input type="text" name="description" class="text-input"placeholder="description">
                </div><br>
                <div>
                    <label for="status" class="labels">Status:</label><br>
                    <label for="status" class="labels">Active</label>
                    <input type="radio" name="status" value="A"><br>
                    <label for="status" class="labels">Inactive</label>
                    <input type="radio" name="status" value="I">
                </div><br>
                <div>
                    <label for="category" class="labels">Selecciona una categoria:</label><br>
                    <select name="category" id="category" class="selection-input">
                        {% for category in categories %}
                            <option value="{{ category.genre_id }}">{{ category.genre }}</option>
                        {% endfor %}
                    </select>
                </div><br>
                <button id="btn" type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>
{% endblock content %}

